[submodule "benchmarks/polybench/dist/webassembly-polybench-c"]
	path = benchmarks/polybench/dist/webassembly-polybench-c
	url = https://github.com/JamesMenetrey/webassembly-polybench-c.git
[submodule "benchmarks/polybench/dist/polybench-c"]
	path = benchmarks/polybench/dist/polybench-c
	url = https://github.com/JamesMenetrey/polybench-c.git
[submodule "benchmarks/wolfssl/dist"]
	path = benchmarks/wolfssl/dist
	url = git@github.com:JamesMenetrey/wolfssl.git
	branch = twine_benchmarks
[submodule "benchmarks/polybench/dist/emcc-polybench-c"]
	path = benchmarks/polybench/dist/emcc-polybench-c
	url = https://github.com/JamesMenetrey/emcc-polybench-c.git
